/* reset */
* {
    margin: 0;
    padding: 0;
}

/* UTILS */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button */
button {
    padding: 8px;
    border-radius: 15px;
    border-color: transparent;
}

button:hover {
    cursor: pointer;
}

.black-button {
    background-color: black;
    color: white;
}

.purple-button {
    background-color: #7189da;
    color: white;
}

/* tag */

footer > nav {
    display: flex;
    justify-content: space-between;

    padding: 15px 0;
    width: 65%;
    background-color: #73ebd0;
}

hr {
    color: white;
    width: 930px;
}

/* HEADER */

/* upper-header */
.upper-header {
    background-color: #265ee9;
}

.upper-header div,
.upper-header nav {
    margin: 15px 0;
    padding: 10px;
}

.upper-header nav {
    text-align: center;
    width: 500px;
}

.upper-header div {
    width: 200px;
}

.header-logo {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
}

.header-login {
    text-align: right;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

header nav a:hover {
    text-decoration: underline;
}

/* lower-header */
.lower-header {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 500px;

    flex-direction: column;
    color: white;
}

.lower-header h1 {
    margin: 10px 0;
}

.lower-header p {
    width: 40%;
    text-align: center;
    font-size: 1.2rem;
    margin: 20px 0;
}

/* MAIN */
main > div:nth-of-type(even) {
    background-color: #f6f6f6;
}

main > figure:nth-of-type(even) {
    transform: rotate(180deg);
}

main > .container {
    height: 500px;
}

main > div:last-child {
    height: 800px;
    /* make last section longer */
}

main > div:last-child > .container {
    height: 650px;
    width: 65%;

    flex-direction: column;
}

main > div:last-child > .container > .card-descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > div:last-child > .container > .stars {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
main > div:last-child > .container > .stars > h3 {
    font-size: 1.4rem;
    margin: 20px;
}

/* header,
main > div:nth-of-type(1),
main > div:nth-of-type(2),
main > div:nth-of-type(3),
/* main > div:nth-of-type(4), */
main > figure {
    display: none;
}
*/ .wave-separator {
    background-image: url(../img/wave.svg);
    filter: invert(100%) sepia(80%) saturate(10%) hue-rotate(38deg)
        brightness(110%) contrast(93%);
    height: 100px;
}

.card {
    height: 400px;
    width: 65%;
}

.card-image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 90%;
}

main > div .card-image {
    background-size: contain;
    background-position: center;
}

main > div:nth-of-type(1) .card-image {
    background-image: url(../img/item1.svg);
}

main > div:nth-of-type(2) .card-image {
    background-image: url(../img/item2.svg);
}

main > div:nth-of-type(3) .card-image {
    background-image: url(../img/item3.svg);
}

main > div:nth-of-type(4) .container .card-image {
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-position: center;
    margin-bottom: 50px;
}

.card-descr > * {
    padding-left: 80px;
}

.card-descr h2 {
    font-size: 2.5rem;
}
.card-descr p {
    font-size: 1.2rem;
}

/* FOOTER */
.footer-container {
    width: 70%;
}

.elementi-footer {
    background-color: #fbb9c5;
    text-align: center;
    padding: 3px;
    border: 1px dashed black;
}

.footer-container {
    border: 1px dashed black;
    margin: 10px 0;
    width: 65%;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* colori */
/* sfondi */
.lightblue {
    background-color: lightblue;
}

.gray {
    background-color: gray;
}

.black {
    background-color: #23272a;
}

/* rettangoli */

.blue {
    background-color: #148bfe;

    width: 60%;
    height: 100%;
}

.lightpink {
    background-color: pink;

    width: 40%;
    height: 100%;
}

.darkpink {
    background-color: pink;

    height: 100%;
}

.footer-blue {
    background-color: #14a1a9;

    width: 15%;
    border: 1px dashed white;
}
